
/* 美化滑动条 */
#opacity-picker {
    -webkit-appearance: none;
    display: inline-block;
    width: 54px;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
}

#opacity-picker:hover {
    opacity: 1;
}

#opacity-picker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #BA55D3;
    cursor: pointer;
    border-radius: 50%;
}

#opacity-picker::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #BA55D3;
    cursor: pointer;
    border-radius: 50%;
}

/* 添加一些过渡效果 */
.menu-item {
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* 美化颜色选择器 */
#color-picker {
    -webkit-appearance: none;
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
    overflow: hidden;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
/* 下拉菜单样式 */
.dropdown {
    position: relative;
    display: inline-block;
    -webkit-app-region: no-drag !important;
}

.dropdown-toggle {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 96%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    z-index: 1000;
    -webkit-app-region: no-drag !important;
}
button {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.dropdown-content .dropdown-item {
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
}
.dropdown-content .dropdown-item:last-child {
    margin-bottom: 0;
}
.select-font span {
    display: inline-block;
}
.change-font {
    display: inline-block;
    background: #BA55D3;
    color: #fff;
    border-radius: 2px;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}
.change-font:hover {
    background: #c369da;
}
.countdown-container {
    margin: 15px auto;
    width: 500px;
    background-color: #eee;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.char {
    animation: glow 1.5s ease-in-out infinite alternate;
    margin: 0 5px;
}

.char1 {
    animation: glow1 1.5s ease-in-out infinite alternate;
    margin: 0 5px;
}

.char2 {
    animation: glow2 0.5s ease-in-out infinite alternate;
    margin: 0 5px;
}

.char3 {
    animation: glow3 0.8s ease-in-out infinite alternate;
    margin: 0 5px;
}

.char4 {
    animation: glow4 0.3s ease-in-out infinite alternate;
    margin: 0 5px;
}


@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #BF1D7E, 0 0 20px #BF1D7E, 0 0 25px #BF1D7E, 0 0 30px #BF1D7E, 0 0 35px #BF1D7E;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
    }
}

@keyframes glow1 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #5D5327, 0 0 20px #5D5327, 0 0 25px #5D5327, 0 0 30px #5D5327, 0 0 35px #5D5327;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
    }
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #376747, 0 0 20px #376747, 0 0 25px #376747, 0 0 30px #376747, 0 0 35px #376747;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
    }
}

@keyframes glow3 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #2BC15C, 0 0 20px #2BC15C, 0 0 25px #2BC15C, 0 0 30px #2BC15C, 0 0 35px #2BC15C;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
    }
}

@keyframes glow4 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #638AD9, 0 0 20px #638AD9, 0 0 25px #638AD9, 0 0 30px #638AD9, 0 0 35px #638AD9;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
    }
}
.custom-header.hide {
    opacity: 0;
}
/* 自定义头部样式 */
.custom-header {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    z-index: 999;
    padding: 0 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.window-controls {
    margin-left: auto;
    -webkit-app-region: no-drag;
}
.left-menu {
    -webkit-app-region: no-drag;
}
.left-menu .menu-item {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 12px;
    -webkit-app-region: no-drag;
}
.left-menu .menu-item i {
    display: none;
    margin-right: 4px;
}
.left-menu .menu-item.focus i {
    display: inline;
}
.window-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.window-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.op {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
    -webkit-app-region: no-drag;
}
.op label {
    color: #5587d3;
    display: block;
    font-size: 16px;
    font-family: "阿里妈妈数黑体 Bold";
    text-align: right;
}
.custom-header {
    height: 30px;
    background-color: #f0f0f0;
    -webkit-app-region: drag; /* 允许拖动窗口 */
}

@font-face {
    font-family: "京东朗正体";
    font-style: normal;
    font-weight: 400;
    src: url("https://public.mtnets.com/Font/jdlangzhengti/jdlangzhengti.TTF") format("truetype");
}

@font-face {
    font-family: "hxbnst";
    font-style: normal;
    font-weight: 400;
    src: url("https://public.mtnets.com/Font/hxbnst/hxbnst.eot?#iefix") format("embedded-opentype"),
        url("https://public.mtnets.com/Font/hxbnst/hxbnst.woff") format("woff"),
        url("https://public.mtnets.com/Font/hxbnst/hxbnst.ttf") format("truetype");
}

@font-face {
    font-family: "阿里妈妈东方大楷";
    font-style: normal;
    font-weight: 400;
    src: url("https://public.mtnets.com/Font/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff") format("woff"),
        url("https://public.mtnets.com/Font/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff2") format("woff2"),
        url("https://public.mtnets.com/Font/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "庞门正道体";
    font-style: normal;
    font-weight: 400;
    src: url("https://public.mtnets.com/Font/pangmenzhengdao/pangmenzhengdao.TTF") format("truetype");
}

@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("https://public.mtnets.com/Font/AlimamaShuHeiTi-Bold.woff2") format("woff2"),
        url("https://public.mtnets.com/Font/AlimamaShuHeiTi-Bold.woff") format("woff");
}




